
.ph-__algae:before { content: '\e800'; } /* '' */
.ph-__archaea:before { content: '\e801'; } /* '' */
.ph-__bacteria-morphology:before { content: '\e802'; } /* '' */
.ph-__bacterium:before { content: '\e803'; } /* '' */
.ph-__by:before { content: '\e804'; } /* '' */
.ph-__cc:before { content: '\e805'; } /* '' */
.ph-__chip-ai:before { content: '\e806'; } /* '' */
.ph-__flask-bacterium:before { content: '\e808'; } /* '' */
.ph-__chart-tree-map:before { content: '\e809'; } /* '' */
.ph-__chromosome:before { content: '\e80a'; } /* '' */
.ph-__dna-location:before { content: '\e80b'; } /* '' */
.ph-__chromosome-locus:before { content: '\e80c'; } /* '' */
.ph-__dolly:before { content: '\e80d'; } /* '' */
.ph-__chromosomes:before { content: '\e80e'; } /* '' */
.ph-__compound:before { content: '\e80f'; } /* '' */
.ph-__flagella:before { content: '\e810'; } /* '' */
.ph-__microbes:before { content: '\e811'; } /* '' */
.ph-__gas:before { content: '\e812'; } /* '' */
.ph-__dna-search:before { content: '\e813'; } /* '' */
.ph-__flask-compound:before { content: '\e814'; } /* '' */
.ph-__cell:before { content: '\e815'; } /* '' */
.ph-__plant-virus:before { content: '\e816'; } /* '' */
.ph-__drop-percent:before { content: '\e817'; } /* '' */
.ph-__flask-plus-circle:before { content: '\e818'; } /* '' */
.ph-__flask-plus:before { content: '\e819'; } /* '' */
.ph-__fatty-acids:before { content: '\e81a'; } /* '' */
.ph-__flask-check:before { content: '\e81b'; } /* '' */
.ph-__fungi:before { content: '\e81c'; } /* '' */
.ph-__ranking:before { content: '\e81d'; } /* '' */
.ph-__mortar-pestle:before { content: '\e81e'; } /* '' */
.ph-__open-access:before { content: '\e81f'; } /* '' */
.ph-__orcid:before { content: '\e820'; } /* '' */
.ph-__sidebar-collapse:before { content: '\e821'; } /* '' */
.ph-__flask-vial:before { content: '\e822'; } /* '' */
.ph-__plasmid:before { content: '\e823'; } /* '' */
.ph-__streptococcus:before { content: '\e824'; } /* '' */
.ph-__protein:before { content: '\e825'; } /* '' */
.ph-__phage:before { content: '\e826'; } /* '' */
.ph-__vials:before { content: '\e827'; } /* '' */
.ph-__chromosome-cut:before { content: '\e828'; } /* '' */
.ph-__flask-pen:before { content: '\e829'; } /* '' */
.ph-__rdf:before { content: '\e82a'; } /* '' */
.ph-__protist:before { content: '\e82b'; } /* '' */
.ph-__sort:before { content: '\e82c'; } /* '' */
.ph-__rna:before { content: '\e82d'; } /* '' */
.ph-__ruler-combined:before { content: '\e82f'; } /* '' */
.ph-__sort-down:before { content: '\e830'; } /* '' */
.ph-__sort-up:before { content: '\e831'; } /* '' */
.ph-__taxonomy:before { content: '\e832'; } /* '' */
.ph-__timeline:before { content: '\e833'; } /* '' */
.ph-__unfilter:before { content: '\e834'; } /* '' */
.ph-__timeline-list:before { content: '\e835'; } /* '' */
.ph-__yeast:before { content: '\e836'; } /* '' */
